body {
  background: url('banner1.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 15%;
}


.background{
	
	text-align: center;
	border: 1px solid #ccc;
	background-image: radial-gradient(circle, #7e0490, #95075d, #8c323e, #764a3a, #61584f);
}

.title-dn
{
	text-align: center;
	color: white;
	font-size: 25px;
}

.form{
	color: yellow;
	text-align: center;
}

.title-form
{
	width: 30%;
}

.delete-td
{
	width:10%;
}

